ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  list-style: none;
  padding: 80px 0;
  max-width: 1640px;
  margin: 0 auto;

  > li {
    background-color: #000;
    border-radius: 15px;
    border: 1px solid;

    max-width: 350px;
    padding: 2px;
    transition: 0.2s ease-in-out;
    width: 100%;
    overflow: hidden;

    &:hover {
      transform: scale(1.2);
      z-index: 100;
    }

    > button {
      border-radius: 15px;
      border: none;
      cursor: pointer;
      > img {
        display: flex;
        height: 277px;

        width: 100%;
      }
    }

    > button:hover,
    > button:focus {
      transform: none;
    }

    > div {
      display: flex;
      gap: 15px;
      margin-top: 3px;

      > p {
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
        justify-content: center;
      }
    }
  }
}
