.modal__backdrop {
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1000;
}

.modal {
  background: rgb(41, 80, 152, 0.7);
  border: 6px solid burlywood;

  width: 400px;
  border-radius: 12px;

  &__list {
    display: flex;
    flex-direction: column;

    margin: 0;

    &__item {
      background: none;
      border: none;
      display: flex;
      padding: 25px;
      white-space: nowrap;
      margin: 0 auto;

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      > a {
        color: burlywood;
        align-items: center;
        display: flex;
        gap: 10px;
        text-decoration: none;
        font-size: 1.1rem;

        > svg {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
  z-index: -100;
}
