.header {
  background-color: rgb(41, 80, 152);
  display: flex;
  justify-content: space-between;
  opacity: 0.4;
  padding: 5px 25px;
  position: fixed;
  top: 0;
  width: 100vw;

  &:hover,
  &:focus-within {
    opacity: 1;
  }
}

form {
  align-items: center;
  display: flex;
  justify-content: center;

  > input {
    border-radius: 5px;
    border: 2px solid gold;
    font-size: 20px;
    padding: 0 57px 0 5px;
    width: 300px;
  }

  > button {
    background-color: burlywood;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    margin-left: -57px;
    padding: 5px;
  }
}
