.header {
  background-color: rgb(41, 80, 152);
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  padding: 5px 50px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;

  &:hover,
  &:focus-within {
    opacity: 1;
  }
}

.logoContainer {
  display: flex;
  cursor: pointer;
  align-items: center;
  background: none;
  border: none;

  x &:hover,
  &:focus {
    color: burlywood;
  }
}

.logo {
  width: 32px;
  height: 32px;

  &__contact {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 12px;

    &:hover,
    &:focus {
      color: burlywood;
    }
  }
}

form {
  align-items: center;
  display: flex;
  justify-content: center;

  > input {
    border-radius: 5px;
    border: 2px solid gold;
    font-size: 20px;
    padding: 0 57px 0 5px;
    width: 300px;
  }

  > button {
    background-color: burlywood;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    margin-left: -57px;
    padding: 5px;
  }
}

.copyrights {
  display: flex;
  align-items: center;
  margin-right: 20px;

  &__icon {
    height: 24px;
    width: 24px;
    margin-left: 2px;
  }

  &__container {
    border-radius: 12px;
    display: none;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 2px 5px;
    position: absolute;
    text-indent: 2px;
    z-index: 1;
    text-decoration: none;
  }

  &:hover &__container {
    display: block;
    left: 94%;
    background-color: #4da74d;
  }

  &__link {
    text-decoration: none;
    color: #fff;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: burlywood;
    }
  }

  &:hover &__icon {
    opacity: 0;
  }
}
